* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
outline: none; /*element drawn around elment*/
}

/*Navigation start*/
.navigation {
    background-color: #1F2937;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
a {
    margin-left: 15px;
    margin-right: 15px;
    color: #E5E7EB;
}
.logo{
    width: 12%;
}
.logo h1 {
    color: #F9FAF8;
    font-weight: 600;
}


/*Navigation end*/

.first-div{
    width: 23%;
    margin-right: 15px;
}
.second-div{
    margin-left: 15px;
}
.coding-photo {
    height: 210px;
    width: 650px;
}
/*Start of section 1*/
.section-1{
    background-color: #1F2937;
    padding: 70px;
    display: flex;
    justify-content: center;
}
.section-1-title{
    color: white;
    font-size: 48px;
    font-weight: 600;
}
.section-1-subtext{
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}
.sign-up {
    color: white;
    background-color: #3882F6;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}

/*End of section 1*/

/*Start of section 2*/
.section-2{
    padding: 70px;
}
.section-2-title{
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    margin-bottom: 50px;
}
.image{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}
.first-image, .second-image,
.third-image, .fourth-image{
    margin: 20px;
}
.section-2-second-div{
    display: flex;
    justify-content: center;
    
}
.section-2-subtext{
    width: 200px;
    text-align: center;
    color: #1F2937;
    font-size: 22px;
}

/*End of section 2*/

/*Start of section 3*/
.section-3{
    background-color: #E5E7EB;
    padding: 100px;
}
.section-3-div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    align-self: center;
    color: #1F2937;
}
.quote, .quote-author{
    width: 41%;
}
.quote-author{
    font-weight: 600;
    font-size: 20px;
    color: #1F2937;
    width: 45%;
}
/*End of section 3*/

/*Start of section 4*/
.section-4-div{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;
    width: 60%;
    border-radius: 7px;
}
.section-4{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.section-4-title{
    font-weight: 600;
    font-size: 30px;
    color: #E5E7EB;
    letter-spacing: 0.5;
}
.section-4-subtitle{
    color:#E5E7EB;
    letter-spacing: 0.5;
    font-size: 20px;
}
.section-4-sign-up{
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}
/*End of section 4*/

/*Start of section 5*/
.section-5{
    background-color: #1F2937;
    padding: 45px;
}
.copyright{
    color: #E5E7EB;
    text-align: center;
}
/*End of section 5*/

